 .divi
{
  
  height: 60vh;
  width: 60vw;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
   align-items: center;
  text-align: center;
  background-color: aqua;
  align-items: center;
}
.h3
{
 color: brown;
}
